.container-fluid,
body {
    margin: 0;
    padding: 0
}

#app-layout-root .sec-0,
#app-layout-root .sec-0 .sec-0-wrapper-inner-0,
.auth-form-wrapper-outer,
.nav-logo-wrapper {
    background-size: cover;
    background-position: center
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x:hidden;
}

.page-header {
    margin-top: 0
}

#app-layout-root {
    background-color: #000;
    width: 100%;
    margin: 0 auto
}

#app-layout-root #page-title {
    color: #e8d443
}

#app-layout-root #page-title img {
    max-width: 90%
}

.nav-logo-wrapper {
    max-width: 1400px;
    height: 850px;
    margin-top: 80px;
    background-image: url(../assets/images/dark-bg-final.png);
    background-clip: inherit;
    background-repeat: no-repeat
}

.nav-logo-wrapper .nav-header-logo {
    display: inline;
    margin-top: 30px
}

.nav-header-text-logo {
    max-width: 84%;
    margin-left: 8%
}

.title-nlc-text {
    font-family: 'Alfa Slab One', cursive;
    font-size: 4rem;
    color: #fcd753
}

.nav-header {
    padding: 0 0 64px
}

.nav-header .hlinks-wrapper .navbar {
    background-color: #fcfbf9;
    border: 0;
    max-width: 900px;
    margin-bottom: 0
}

.navbar-sticky-top {
    display: none
}

.navbar-sticky-top .dropdown-controller {
    display: block;
    width: 100%;
    float: left;
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 0
}

.navbar-sticky-top .dropdown-controller .dropdown-cust-menu {
    width: 100%;
    float: left
}

.navbar-sticky-top .dropdown-cust-menu .li {
    padding: 6px 0;
    background-color: #0ff
}

.navbar-sticky-top .dropdown-cust-menu .li a {
    font-size: 16px;
    color: #dfdfdf
}

.btn-action-nav,
.btn-action-nav:hover {
    color: #fcd753;
    border: none
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner {
    display: block;
    width: 100%;
    float: left;
    text-align: center
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul {
    display: inline-block;
    text-align: center;
    margin-left: 1%
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .hlink-placeholder {
    visibility: hidden
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul a {
    font-weight: 700;
    padding-left: 7px;
    padding-right: 7px;
    text-transform: uppercase
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link {
    transition: all .15s linear;
    top: 0
}

.btn-action-nav:hover {
    text-decoration: underline;
    outline: 0
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link:hover {
    top: 4px
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link-0 {
    color: #044c10
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link-1 {
    color: #e25914
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link-2 {
    color: #113247
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link-3 {
    color: #0b4f51
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link-4 {
    color: #381347
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link-5 {
    color: #af9907
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link-6 {
    color: #b7490b
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link-7 {
    color: #cc0d0c
}

.nav-header .hlinks-wrapper .navbar .navbar-collapse-inner ul .nav-link-8 {
    color: #4bacbc
}

.nav-header .hlinks-wrapper .navbar .navbar-brand {
    min-width: 210px;
    display: none
}

.nav-header .hlinks-wrapper .navbar .navbar-brand img {
    margin: 0;
    float: left;
    position: relative;
    bottom: 1px;
    padding: 0 6px 0 0;
    vertical-align: middle
}

.nav-header .hlinks-wrapper .navbar .navbar-brand .app-logo-vector {
    position: relative;
    bottom: 7px
}

.nav-header .hlinks-wrapper .navbar .navbar-brand span {
    float: left;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    line-height: 28px;
    color: #f75200
}

.nav-header .hlinks-wrapper .navbar .navbar-brand span img {
    max-width: 160px;
    vertical-align: middle
}

.hlinks-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    margin: 0 0 32px;
    z-index: 5000;
    width: 100%;
    background-color: #fcfbf9;
    border-bottom: 2px solid #5b5a59
}

.hlinks-wrapper .hlinks-wrapper-inner {
    padding: 0
}

.auth-container {
    background-image: url(../assets/images/1px-trans.png);
    background-repeat: no-repeat;
    padding: 20px;
    border-bottom: 2px solid #dfdfdf
}

.auth-container .auth-btn {
    display: inline-block;
    width: 120px;
    margin: 20px 0;
    padding: 12px;
    border: 1px solid #000
}

.auth-container .auth-btn-login,
.auth-container .auth-btn-signUp {
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer
}

.auth-container .auth-btn-login {
    background-color: #1fbac3;
    border-bottom: 6px solid #196e7f
}

.auth-container .auth-btn-login:hover {
    background-color: #179da5
}

.auth-container .auth-btn-signUp {
    background-color: #fb4e46;
    border-bottom: 6px solid #962f0a
}

.auth-form-wrapper-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/dark-radial-bg.png);
    display: none
}

.auth-form-wrapper-outer .auth-form-wrapper-inner {
    border: 1px solid #dfdfdf;
    padding: 30px 40px;
    float: left;
    vertical-align: middle;
    margin-top: 40px
}

.auth-form-wrapper-outer .auth-form-wrapper-inner .header {
    border: 0 solid #dfdfdf;
    float: left;
    width: 100%;
    margin: 8px 0 18px
}

.auth-form-wrapper-outer .auth-form-wrapper-inner .signup-form-wrapper-outer {
    display: none
}

.auth-form-wrapper-outer .auth-form-wrapper-inner .login-form-wrapper-outer .header,
.signup-form-wrapper-outer .header {
    margin: 8px 0 18px
}

.auth-form-wrapper-outer .auth-form-wrapper-inner .login-form-wrapper-outer .header h3,
.signup-form-wrapper-outer .header h3 {
    color: #dfdfdf
}

.auth-form-wrapper-outer .auth-form-wrapper-inner .header span {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: #dfdfdf;
    width: 50%;
    padding: 8px;
    float: left
}

.auth-form-wrapper-outer .auth-form-wrapper-inner .login-form-wrapper-outer,
.auth-form-wrapper-outer .auth-form-wrapper-inner .login-form-wrapper-outer .login-form-wrapper-inner,
.signup-form-wrapper-inner,
.signup-form-wrapper-outer {
    width: 100%;
    float: left
}

.auth-form-wrapper-outer .auth-form-wrapper-inner .header span:nth-child(1) {
    background-color: #1ab188
}

.auth-form-wrapper-outer .auth-form-wrapper-inner .header span:nth-child(2) {
    background-color: #435259
}

.auth-form-wrapper-outer .auth-form-wrapper-inner .input {
    display: block;
    width: 100%;
    float: left;
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #435259;
    background-color: transparent;
    color: #dfdfdf;
    font-size: 16px
}

.auth-form-wrapper-outer .auth-form-wrapper-inner .in-type-sub {
    background-color: #1ab188;
    padding: 12px
}

.carousel-wrapper {
    max-width: 900px;
    max-height: 540px;
    padding: 32px 0
}

.auth-container .auth-btn-signUp:hover {
    background-color: #dd433b
}

.carousel-slide {
    width: 900px;
    height: 510px;
    max-height: 510px;
    max-width: 900px
}

.coin-ex-rate-wrapper {
    text-align: center
}

.coin-ex-rate-wrapper .tab-row {
    display: inline-block;
    vertical-align: middle;
    margin-top: 60px
}

.coin-ex-rate-wrapper .row-2 {
    display: block;
    width: 100%;
    text-align: center
}

.coin-ex-rate-wrapper .row span {
    float: left
}

.coin-ex-rate-wrapper span img {
    width: 48px;
    height: 48px
}

.coin-ex-rate-wrapper span h6 {
    font-size: 14px;
    padding: 0 10px;
    color: #57edb6;
    vertical-align: middle
}

.cmc-stat-wrapper {
    padding-top: 20px;
    max-width: 60%;
    margin-left: 20%;
	color:#fff;
}

.cmc-stat-wrapper span {
    font-size: 14px;
    color: #dfdfdf;
    text-align: left
}

.cmc-stat-wrapper .span-left {
    float: right;
    color: #fcd753;
    text-align: right
}

.cmc-stat-wrapper .span-right {
    float: left
}

.login-form-wrapper {
    padding-top: 30px
}

#app-layout-root .space-bar0 {
    margin-top: 20px
}

#app-layout-root .space-bar {
    margin-top: 30px
}

#app-layout-root .space-bar2 {
    margin-top: 60px
}

#app-layout-root .space-bar3 {
    margin-top: 100px
}

#app-layout-root .space-bar4 {
    margin-top: 40px
}

#app-layout-root .space-bar5 {
    margin-top: 110px
}

#app-layout-root .space-bar6 {
    margin-top: 75px
}

#app-layout-root .sub-title h3 {
    font-size: 32px;
    font-weight: 700;
    color: #dfdfdf
}

#app-layout-root .sub-title h6 {
    font-weight: 700;
    color: #dfdfdf
}

.text-muted {
    color: #dfdfdf
}

#app-layout-root .text-highlighted {
    color: #e8d443
}

#app-layout-root .text-highlighted1 {
    color: #f75200
}

#app-layout-root .sec-3 p {
    color: #dfdfdf
}

#app-layout-root .team-info-grid {
    width: 100%
}

#app-layout-root .team-info-grid .team-core {
    border-right: 1px solid #dfdfdf
}

#app-layout-root .team-info-grid .article-team-info .avatar {
    height: 180px;
    width: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf
}

#app-layout-root .team-info-grid .article-team-info .avatar-core-0 {
    background-image: url(../assets/images/avatars/core-team/ceo.png);
    float: right
}

#app-layout-root .team-info-grid .article-team-info .avatar-core-1 {
    background-image: url(../assets/images/avatars/core-team/dan-hensley.jpg);
    float: right
}

#app-layout-root .team-info-grid .article-team-info .avatar-core-2 {
    background-image: url(../assets/images/avatars/core-team/nikola.jpg);
    float: right
}

#app-layout-root .team-info-grid .article-team-info .avatar-core-3 {
    background-image: url(../assets/images/avatars/core-team/antono.jpg);
    float: right
}

#app-layout-root .team-info-grid .article-team-info .avatar-core-4 {
    background-image: url(../assets/images/avatars/core-team/oscar-p.jpg);
    float: right
}

#app-layout-root .team-info-grid .article-team-info .avatar-core-5 {
    background-image: url(../assets/images/avatars/core-team/sebastian-cruz.jpg);
    float: right
}

#app-layout-root .team-info-grid .article-team-info .avatar-core-6 {
    background-image: url(../assets/images/avatars/core-team/jaque.png);
    float: right
}

#app-layout-root .team-info-grid .article-team-info .avatar-core-7 {
    background-image: url(../assets/images/avatars/core-team/dotan-yaish.png);
    float: right
}

#app-layout-root .team-info-grid .article-team-info .avatar-core-8 {
    background-image: url(../assets/images/avatars/core-team/yoni-tabac.jpg);
    float: right
}

#app-layout-root .team-info-grid .article-team-info .avatar-core-9 {
    background-image: url(../assets/images/avatars/core-team/james-strout.jpg);
    float: right
}

#app-layout-root .team-info-grid .article-team-info .avatar-dev-0 {
    background-image: url(../assets/images/avatars/devs/dharmesh-bharodiya.jpg);
    float: left
}

#app-layout-root .team-info-grid .article-team-info .avatar-dev-1 {
    background-image: url(../assets/images/avatars/devs/akshay.jpg);
    float: left
}

#app-layout-root .team-info-grid .article-team-info .avatar-dev-2 {
    background-image: url(../assets/images/avatars/devs/pranav-zadafiya.jpg);
    float: left
}

#app-layout-root .team-info-grid .article-team-info .avatar-dev-3 {
    background-image: url(../assets/images/avatars/devs/v.jpg);
    float: left
}

#app-layout-root .team-info-grid .article-team-info .avatar-dev-4 {
    background-image: url(../assets/images/avatars/devs/gerald-chan.png);
    float: left
}

#app-layout-root .team-info-grid .article-team-info .avatar-dev-5 {
    background-image: url(../assets/images/avatars/devs/travis-yang.png);
    float: left
}

#app-layout-root .contact-form-wrapper {
    width: 60%;
    margin-left: 20%;
    background-color: #dfdfdf;
    padding: 2vw;
    border-radius: 10px
}

#app-layout-root .tl-article {
    color: #dfdfdf;
    font-size: 22px
}

#app-layout-root .sec-0 {
    padding: 64px 0 0;
    background-image: url(../assets/images/temp1.jpg);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    border-bottom: 1px solid #ccc
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0 .sec-0-wrapper-inner-0-inner-0,
#app-layout-root .sec-0 .sec-0-wrapper-inner-nl .sec-0-wrapper-inner-0-inner-0 {
    padding: 64px 0;
    max-width: 1400px;
    position: relative;
    top: 0;
    left: 0
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0 {
    background-image: url(../assets/images/soccer-moment-3.jpg);
    border-bottom: 2px solid #ccc
}

.sec-0-wrapper-inner-nl {
    background-image: url(../assets/images/nfl-moment-1.png);
    border-bottom: 2px solid #ccc
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0-footer .btn {
    border: 0 solid #53575e;
    transition: all .2s linear
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0-footer .btn:hover {
    color: #1a5b21;
    background-color: #fff;
    -webkit-box-shadow: 0 0 18px 5px rgba(0, 0, 0, .4);
    box-shadow: 0 0 18px 5px rgba(0, 0, 0, .4)
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0-inner-0 .icc-wc-trophy {
    max-width: 180px;
    max-height: 360px;
    display: inline-block
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0 .sec-0-wrapper-inner-0-inner-0 .cdTimerWrapper .cd-title {
    font-size: 32px;
    font-weight: bolder
}

.cd-title {
    font-size: 32px;
    font-weight: bolder
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0 .sec-0-wrapper-inner-0-inner-0 .cdTimerWrapper .cd-sub-title {
    font-size: 18px;
    font-weight: bolder;
    color: #d84727
}

.cd-sub-title {
    font-size: 18px;
    font-weight: bolder;
    color: #d84727
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0 .sec-0-wrapper-inner-0-inner-0 .cdTimerWrapper .timer-box-header h6 {
    font-weight: bolder;
    font-size: 14px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0 .sec-0-wrapper-inner-0-inner-0 .cdTimerWrapper .time-def h3 {
    font-weight: bolder;
    font-size: 28px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0 .sec-0-wrapper-inner-0-inner-0 .timer-box-wrapper {
    margin-top: 40px;
    width: auto
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0 .sec-0-wrapper-inner-0-inner-0 .timer-box-wrapper .timer-box {
    display: inline-block;
    width: 29.33%;
    margin: 0 2%;
    float: left;
    text-align: center
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0-inner-0 .timer-box-wrapper .timer-box .time-def {
    border: 1px solid #ccc;
    border-bottom: 8px solid #53575e;
    border-top: 8px solid #fff;
    background-color: #fff;
    background: -webkit-gradient(linear, left bottom, left top, from(#a6a7a8 90%), to(#efefef 10%));
    background: -webkit-linear-gradient(bottom, #a6a7a8 10%, #efefef 90%);
    background: -o-linear-gradient(bottom, #a6a7a8 10%, #efefef 90%);
    background: linear-gradient(bottom, #a6a7a8 10%, #efefef 90%);
    -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, .4);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .4)
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0-inner-0 .event-info-wrapper {
    max-width: 80%;
    margin-left: 10%;
    text-align: center
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0-inner-0 .event-info-wrapper .event-snippet h3 {
    font-size: 14px;
    font-weight: bolder;
    line-height: 15px;
    padding: 10px 0;
    margin: 20px 0 40px;
    color: #194d6b;
    border-bottom: 1px solid #191715;
    border-radius: 5px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-0-inner-0 .event-info-wrapper .event-snippet h3 .counter {
    margin-bottom: 5px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-1 {
    max-width: 1400px;
    padding: 64px 0
}

#app-layout-root .sec-0 .sec-0-vid-container-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-image: url(../assets/images/1px-trans.png);
    background-repeat: repeat;
    display: none
}

#app-layout-root .sec-0 .article-sec,
#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .sec-0-wrapper-inner-2-inner-0 .faq-wrapper {
    width: 80%;
    margin-left: 10%
}

#app-layout-root .sec-0 .sec-0-vid-container-wrapper .sec-0-vid-container {
    margin-top: 25%;
    display: none;
    padding: 3px;
    background-color: #b7ae92;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-1 .article-sec-0 img {
    padding: 10px;
    -webkit-box-shadow: 0 0 20px 10px #747577;
    box-shadow: 0 0 20px 10px #747577
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-1 .article-sec-0 .article-hiw {
    margin-top: 20px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 {
    background-image: url(../assets/images/dark-radial-bg.png);
    background-position: center;
    background-size: cover;
    padding: 128px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .sub-title {
    margin-bottom: 64px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .sub-title h3 {
    color: #dfdfdf
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .sec-0-wrapper-inner-2-inner-0 {
    max-width: 1400px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper {
    padding: 30px 30px 50px;
    background-color: #fff;
    border: 1px solid #dfdfdf
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper header {
    border-bottom: 0 solid #dfdfdf;
    cursor: pointer;
    margin: 20px 0 0
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper span {
    display: inline-block;
    max-width: 20%
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper h3 span:nth-child(1) {
    transition: all .2s linear;
    font-size: 22px;
    position: absolute;
    top: 13px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper h3 span:nth-child(2) {
    max-width: 80%;
    margin-left: 10px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper .caret-down {
    transform: rotateZ(90deg);
    transition: all .2s linear
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper .caret-up {
    transform: rotateZ(0);
    transition: all .2s linear
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper h3:hover {
    color: #385987
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper .flipShevron {
    transform: rotateX(90deg);
    transition: rotate .8s linear
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper h3 {
    display: block;
    cursor: pointer;
    margin: 0;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: #354049;
    padding: 16px 0;
    border-bottom: 1px solid #dfdfdf
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .faq-snippet-content {
    margin-top: 16px;
    display: none;
    padding-left: 16px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .article-faq-wrapper .faq-snippet-content p {
    color: #262626;
    font-size: 16px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper {
    padding: 0;
    border-left: 0 solid #dfdfdf
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper .ig-row-0,
.ig-row-1 {
    background-color: #fff;
    border: 1px solid #dfdfdf
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper .ig-row-1 .ig-col {
    max-height: 188px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper .ig-row-1 .ig-col-1 {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper .ig-sec {
    padding: 20px 0
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper .ig-sec-0 {
    width: 100%;
    max-height: 300px;
    height: 300px;
    padding: 10px 0
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper .ig-caption {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 15px 0;
    width: calc(100% - 30px);
    background-image: url(../assets/images/1px-trans.png);
    background-repeat: repeat;
    text-align: center
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper .ig-caption h3 {
    color: #dfdfdf;
    font-size: 16px;
    font-weight: 700;
    display: inline;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfdfdf
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper .ig-sec-1,
#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper .ig-sec-2,
#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper .ig-sec-3 {
    max-width: 120px;
    max-height: 120px;
    height: 120px;
    text-align: center
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-2 .infographics-wrapper h3 {
    font-size: 18px;
    padding: 0 0 30px;
    margin: 0
}

#app-layout-root .sec-0 .article-sec .article {
    width: 96%;
    float: left;
    padding: 0 0 16px 10px
}

#app-layout-root .sec-0 .article-sec-0 .article p {
    font-size: 18px;
    color: #dfdfdf;
    font-size-adjust: 100%
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 {
    background-image: url(../assets/images/bg-stadium.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet-wrapper {
    max-width: 900px;
    min-width: 320px;
    padding: 64px 0 44px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #dfdfdf;
    padding: 6px;
    margin-bottom: 20px;
    position: relative
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet-hover {
    position: absolute;
    top: 6px;
    left: 6px;
    background-image: url(../assets/images/1px-trans.png);
    background-repeat: repeat;
    z-index: 100;
    width: calc(100% - 11px);
    height: inherit;
    display: none
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet-hover span {
    display: inline-block;
    margin-top: 98px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet-hover span:hover {
    transform: scale(1.2) rotateZ(360deg);
    transition: transform .3s ease-out
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet-hover span img {
    cursor: pointer
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet-0 .content {
    background-image: url(../assets/images/newsFeed/news-thumb-0.jpg);
    background-position: center;
    background-size: cover;
    z-index: 0
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet-1 .content {
    background-image: url(../assets/images/newsFeed/news-thumb-1.jpg);
    background-position: center;
    background-size: cover
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet-2 .content {
    background-image: url(../assets/images/newsFeed/news-thumb-2.jpg);
    background-position: center;
    background-size: cover
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet header {
    background-image: url(../assets/images/1px-trans.png);
    background-repeat: repeat;
    padding-top: 10px;
    padding-bottom: 10px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet header h3 {
    font-size: 18px;
    font-weight: 700;
    color: #dfdfdf
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet header h3 a {
    color: #dfdfdf
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet header h3 a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #c45413
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet .content {
    max-height: 280px;
    height: 260px;
    overflow: hidden;
    background-color: #F8F4FA;
    border-radius: 5px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet .footer {
    padding: 15px 15px 10px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet .footer i {
    font-size: 22px;
    font-weight: 700;
    padding: 3px;
    vertical-align: middle
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet .footer i:hover {
    cursor: pointer;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4)
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet .footer i:nth-child(1) {
    color: #55acee
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet .footer i:nth-child(2) {
    color: #ff1a00
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-0 .news-feed-wrapper .news-snippet .footer i:nth-child(3) {
    color: #3b5998
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-1 {
    background-color: #e7e9ed;
    height: 350px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 {
    background-color: #fff;
    height: 506px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-wrapper {
    text-align: center
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner {
    display: inline-block;
    width: 800px;
    max-width: 800px;
    padding: 16px 20px 30px;
    border: 1px solid #dfdfdf;
    position: absolute;
    bottom: -420px;
    left: 0;
    background-color: #fff;
    background-image: url(../assets/images/soccer-moment-5.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .4)
}

#app-layout-root .sec-1 .sec-1-wrapper-inner0 .sec-1-wrapper-inner0-inner-0,
#app-layout-root .sec-1-wrapper-inner1 .sec-1-wrapper-inner1-wrapper-inner-0,
#app-layout-root .sec-1-wrapper-inner3 .sec-1-wrapper-inner3-wrapper-inner-0,
#app-layout-root .sec-2 .sec-2-wrapper-inner,
#app-layout-root .sec-3 .sec-3-wrapper-inner {
    max-width: 1400px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner header {
    padding: 8px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner header h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    font-size-adjust: 100%;
    color: #151515
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner header h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    font-size-adjust: 100%;
    color: #151515
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner header h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    font-size-adjust: 100%;
    color: #151515
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner header img {
    display: inline
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article {
    width: 90%;
    margin-left: 5%
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs .fs-inner .header {
    min-height: 90px;
    width: 100%;
    float: left
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs .fs-inner .header img {
    width: 64px;
    height: 64px;
    margin-top: 15px;
    display: inline-block
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs .fs-inner content {
    width: 100%;
    display: block;
    min-height: 190px;
    float: left
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs .fs-inner content h3 {
    width: 90%;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 700;
    color: #dfdfdf;
    text-align: left
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs .fs-inner content p {
    font-size: 13px;
    color: #dfdfdf;
    text-align: left;
    width: 90%;
    margin-left: 5%
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs-0 .fs-inner .header {
    background-color: #e65d5d
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs-0 .fs-inner content {
    background-color: #c43434
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs-1 .fs-inner .header {
    background-color: #6fc1d2
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs-1 .fs-inner content {
    background-color: #428e9e
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs-2 .fs-inner .header {
    background-color: #7dc692
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs-2 .fs-inner content {
    background-color: #508b61
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs-3 .fs-inner .header {
    background-color: #d98e64
}

#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs-3 .fs-inner content {
    background-color: #a06849
}

#app-layout-root .sec-1 .sec-1-wrapper-inner0 .article-sec-1 .row p {
    font-size: 18px;
    color: #dfdfdf;
    font-size-adjust: 100%
}

#app-layout-root .sec-1 .sec-1-wrapper-inner0 .article-sec-1 .row #sec-1-view-article .btn-platform-hlink {
    background-color: #3ba86c;
    color: #fff;
    border: 0;
    border-bottom: 4px solid #2f8756;
    border-radius: 3px
}

#app-layout-root .sec-1 .sec-1-wrapper-inner0 .article-sec-1 .row #sec-1-view-article .btn-platform-hlink:hover {
    text-decoration: none;
    box-shadow: none;
    border: none;
    background-color: #339b61;
    border-bottom: 4px solid #339b61
}

#app-layout-root .sec-1 .sec-1-wrapper-inner0 .article-sec-1 .row img {
    padding: 10px
}

#app-layout-root .sec-0 .sec-0-wrapper-inner-1 .btn-link {
    background-color: #c45413;
    border: 2px solid #dfdfdf;
    color: #dfdfdf
}

#app-layout-root .sec-1 {
    padding: 64px 0 0;
    border-bottom: 1px solid #ccc
}

#app-layout-root .sec-1 .sec-1-wrapper-inner0 h6 {
    font-size: 16px;
    font-weight: 700;
    color: #ccc
}

#app-layout-root .sec-1 .sec-1-wrapper-inner0 .article-sec-1 {
    width: 80%;
    margin-left: 10%
}

#app-layout-root .sec-1 .sec-1-wrapper-inner0 #sec-1-view-article {
    animation-duration: 700
}

#app-layout-root .sec-1 .sec-1-wrapper-inner0 #sec-1-view-article h6 {
    color: #d84727
}

#app-layout-root .sec-1-wrapper-inner1 {
    padding: 64px 0;
    background-image: url(../assets/images/trading.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid #81827b
}

#app-layout-root .sec-1-wrapper-inner1 h3 {
    color: #f75200;
    font-weight: 700
}

#app-layout-root .sec-1-wrapper-inner1 h6,
#app-layout-root .sec-1-wrapper-inner2 h6 {
    color: #dfdfdf;
    font-size: 14px;
    font-weight: 700
}

#app-layout-root .sec-1-wrapper-inner1 .nlc2-logo-wrapper {
    width: 60%;
    margin-left: 20%;
    text-align: center
}

#app-layout-root .sec-1-wrapper-inner1 .nlc2-logo-wrapper img {
    display: inline-block
}

#app-layout-root .sec-1-wrapper-inner2 {
    width: 100%;
    padding: 64px 0;
    border-top: 1px solid #ccc
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-article {
    border: 1px solid #ccc
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .controller {
    padding: 20px 40px;
    text-align: center;
    width: 100%;
    float: left
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .controller i {
    background-color: red;
    cursor: pointer
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .controller .sw-view div:nth-child(1) {
    float: left
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .controller .lamp-view {
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    position: absolute;
    top: -20px;
    left: 0;
    display: inline-block;
    width: 100%
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .controller .lamp-view-activated {
    -webkit-animation-name: swing;
    animation-name: swing;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .controller .lamp-view .contact-wire {
    display: inline-block;
    width: 2px;
    height: 80px;
    background-color: #5f636b;
    -webkit-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .controller .lamp-view .contact-wire-activated {
    height: 90px
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .controller .lamp-view .base {
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    top: -22px;
    border-top: 15px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid #5f636b
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .controller .lamp-view .glass-bulb {
    display: inline-block;
    position: relative;
    top: -26px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: none;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow: inset 0 0 10px #fff;
    cursor: pointer;
    margin-bottom: 20px
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .controller .lamp-view .glass-bulb-activated {
    background-color: #fffdf7;
    -webkit-box-shadow: 0 0 50px #fff;
    box-shadow: 0 0 50px #fff
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-wrapper {
    padding-top: 160px
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-wrapper h3 {
    -webkit-transition: color .8s ease-in-out;
    -o-transition: color .8s ease-in-out;
    transition: color .8s ease-in-out
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-header {
    margin-bottom: 40px
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-wrapper .header-activated {
    color: #e8d443
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-wrapper .wp-article-content {
    max-height: 640px;
    overflow-y: auto;
    padding: 20px 40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-wrapper .wp-article-content p {
    -webkit-transition: color .8s ease-in;
    -o-transition: color .8s ease-in;
    transition: color .8s ease-in;
    font-size: 18px
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-wrapper .wp-article-content-activated {
    color: #dfdfdf
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-wrapper .wp-article-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #33383f
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-wrapper .wp-article-content::-webkit-scrollbar {
    width: 12px;
    background-color: #000
}

#app-layout-root .sec-1-wrapper-inner2 .wpContainer .wp-wrapper .wp-article-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929
}

#app-layout-root .sec-1-wrapper-inner3 {
    padding: 64px 0;
    background-color: #fff;
    color: #1d1e1e
}

#app-layout-root .sec-1-wrapper-inner3 h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    font-size-adjust: 100%;
    color: #151515
}

#app-layout-root .sec-1-wrapper-inner3 h6 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    font-size-adjust: 100%;
    color: #d84727
}

#app-layout-root .sec-1-wrapper-inner3 .thumbSpace h6 {
    font-size: 18px;
    color: #1d1e1e
}

#app-layout-root .sec-1-wrapper-inner3 .row {
    width: 80%;
    margin-left: 10%;
    margin-top: 64px;
    margin-bottom: 64px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1)
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner {
    background-color: #f8f6f7;
    border: 1px solid #3d3c3c;
    margin-bottom: 20px
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-wrapper-inner3-wrapper-inner-0 .row {
    background-color: #fff;
    padding: 60px 30px
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner header {
    padding: 20px;
    border-bottom: 1px solid #dfdfdf;
    background-image: url(../assets/images/1px-trans.png);
    max-height: 260px;
    width: 100%
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner header img {
    max-height: 230px;
    padding: 20px
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner header h6 {
    color: #dfdfdf
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner .content {
    background-color: #fff;
    padding: 10px 20px 20px;
    max-height: 150px
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner .content h3 {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 0;
    padding-top: 20px;
    font-weight: 400;
    color: #3d3c3c;
    margin: 0
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner .content h4 {
    margin-top: 6px;
    color: #605f5f
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner .content p {
    display: none
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner-1 .content {
    background-color: #fff
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner .footer {
    padding: 10px;
    border-top: 1px solid #ccc
}

#app-layout-root .sec-2,
#app-layout-root .sec-3 {
    padding: 64px 0;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #ccc
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner .footer .btn:hover {
    text-decoration: none
}

#app-layout-root .sec-1-wrapper-inner3 .sec-1-w-i1-article .thumbSpace .thumbSpace-inner .footer .btn {
    color: #dfdfdf;
    font-size: 16px;
    font-weight: 700
}

#app-layout-root .sec-1-wrapper-inner3 .row img {
    margin: 0 auto
}

#app-layout-root .sec-1 .article-sec {
    width: 70%;
    margin-left: 15%
}

#app-layout-root .sec-2 .section-timeline,
#app-layout-root .sec-3 .article-sec {
    width: 80%;
    margin-left: 10%
}

#app-layout-root .sec-1 .atricle-sec-1-1 {
    background-color: #ff0
}

#app-layout-root .sec-2 {
    background-image: url(../assets/images/bg-night-sky.png);
    background-attachment: fixed
}

#app-layout-root .sec-2 .section-timeline .timeline-heading .timeline-title0 {
    font-size: 23px
}

#app-layout-root .sec-2 .section-timeline .timeline-heading .timeline-sub-title0 {
    font-size: 20px
}

#app-layout-root .sec-2 .section-timeline .timeline-body p,
#app-layout-root .sec-2 .sub-title h6 {
    font-size: 16px;
    font-weight: 700
}

h2 {
    font-size: 18px;
}

#app-layout-root .sec-3 {
    background-image: url(../assets/images/polygon-bg-dark-0.jpg)
}

#app-layout-root .sec-3 .article-sec h3 {
    color: #dfdfdf;
    font-size: 22px
}

#app-layout-root .sec-3 .article-sec .thumb-heading {
    color: #101d33;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px
}

#app-layout-root .sec-3 .article-sec img {
    display: inline-block;
    max-width: 120px;
    max-height: 120px;
    padding: 10px
}
.logo-nlc-unified
{
	margin:0 auto;
}
#app-layout-root .sec-4 .sec-4-wrapper-inner,
#app-layout-root .sec-5 .sec-5-wrapper-inner-0 .sec-5-wrapper-inner-0-inner-0,
#app-layout-root .sec-5 .sec-5-wrapper-inner-1 .sec-5-wrapper-inner-1-inner-0,
#app-layout-root .sec-5 .sec-5-wrapper-inner-2 .sec-5-wrapper-inner-2-inner-0 {
    max-width: 1400px
}

#app-layout-root .sec-3 .article-sec p {
    font-size: 16px;
    color: #6b6b6b;
    font-weight: 400
}

#app-layout-root .sec-4 {
    padding: 64px 0;
    border-bottom: 1px solid #ccc
}

#app-layout-root .sec-4 .sec-4-wrapper-inner .sub-title h6 {
    font-size: 16px;
    font-weight: 700
}

#app-layout-root .sec-4 .team-info-grid {
    width: 90%;
    margin-left: 5%
}

#app-layout-root .sec-4 .team-info-grid .article-team-info {
    padding: 20px 0
}

#app-layout-root .sec-4 .team-info-grid header {
    margin-bottom: 30px;
    display: block;
    width: 100%;
    float: left
}

#app-layout-root .sec-4 .team-info-grid .team-core-headers h3 {
    font-size: 22px;
    color: #e8d443;
    font-weight: 700
}

#app-layout-root .sec-4 .team-info-grid h4 {
    font-size: 18px;
    color: #dfdfdf;
    font-weight: 700
}

#app-layout-root .sec-4 .team-info-grid h6 {
    font-size: 16px;
    color: #e8d443;
    font-weight: 700
}

#app-layout-root .sec-4 .team-info-grid p {
    color: #dfdfdf
}

#app-layout-root .sec-5 {
    padding-bottom: 64px 0
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 {
    width: 100%;
    background-image: url(../assets/images/world_map.png);
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #ccc
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 .contact-form-container {
    padding: 64px 0;
    width: 100%
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 h3 {
    color: #e8d443;
    font-weight: 700;
    padding-bottom: 3%;
    font-size: 22px;
    border-bottom: 0 solid #ccc
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 .form-wrapper {
    border: 0 solid #ccc;
    background-color: #18181a
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 .address-panel-wrapper {
    border-top: 2px solid #3abdad
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 .address-panel-wrapper .address-box {
    display: block;
    background-color: #000
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 .address-panel-wrapper .address-box-0 {
    padding: 20px 14px;
    font-size: 14px;
    color: #dfdfdf
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 .address-panel-wrapper .address-box-0 i {
    color: #ed521e;
    font-size: 16px
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 .form-wrapper header {
    background-color: #000;
    padding: 20px 10px;
    border-bottom: 2px solid #3abdad
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 .form-wrapper header h3 {
    color: #ed521e
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 .form-wrapper .input-group-wrapper {
    padding: 10%
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 input,
#app-layout-root .sec-5 .sec-5-wrapper-inner-0 textarea {
    background-color: #18181a;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
    color: #dfdfdf;
    font-size: 16px
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-0 input:focus,
#app-layout-root .sec-5 .sec-5-wrapper-inner-0 textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-1 {
    padding: 64px 0;
    border-bottom: 1px solid #ccc
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-1 h3 {
    color: #e8d443;
    font-weight: 700
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-1 article p {
    color: #dfdfdf;
    font-size: 16px;
    font-weight: 700
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-2 {
    padding: 64px 0
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-2 h3 {
    color: #f75200;
    font-weight: 700
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-2 h6 {
    color: #dfdfdf;
    font-size: 14px;
    font-weight: 700
}

#app-layout-root .sec-5 .sec-5-wrapper-inner-2 footer p {
    color: #ccc
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: .8
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0
}

.flip-clock-wrapper {
    zoom: .7;
    -moz-transform: scale(.5);
    width: auto;
    display: inline
}

.flip-clock-label {
    font-size: 32px;
    font-weight: 400;
    left: 20px
}

.fa-icon-pointer {
    cursor: pointer
}

.fa-icon-pointer:hover {
    color: #ed521e
}

@-webkit-keyframes breath {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01)
    }
}

@keyframes flipUp {
    0% {
        -webkit-transform: rotateX(90deg)
    }
    100% {
        -webkit-transform: rotateX(0)
    }
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
}

@keyframes swing {
    0% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg)
    }
}

@keyframes flipper {
    from {
        transform: rotateX(60deg)
    }
    to {
        transform: rotateX(0)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    ;
    to {
        opacity: 1
    }
}

@media (min-width:360px) and (max-width:768px) {
    #nlc-text-logo {
        display: none
    }
    .nav-header-logo {
        margin-bottom: 140px
    }
    .title-nlc-text-sp {
        font-size: 16px;
        color: #777;
        position: relative;
        top: -14px
    }
    .sec-5-wrapper-inner-2-inner-0 .logo-nlc-unified {
        max-width: 80%
    }
	
}

@media (min-width:768px) and (max-width:991px) {
    .flip-clock-wrapper {
        zoom: .4;
        -moz-transform: scale(.5);
        margin-left: 50px
    }
	
}

@media (min-width:1200px) and (max-width:6660px) {
    .nav-header .hlinks-wrapper .navbar .navbar-collapse-inner .nav {
        margin-left: 140px
    }
}
@media(max-width:480px) {
#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner article .fs .fs-inner content {
    min-height: inherit;
}
.cmc-stat-wrapper {
    margin-left: 10%;
	margin-top:0px;
}
.flip-clock-wrapper {
    zoom: .6;
}
#app-layout-root .sec-0 .sec-0-wrapper-inner-0 .sec-0-wrapper-inner-0-inner-0 .timer-box-wrapper {
    margin-left: 30px;
}
.timer-box-wrapper {
 margin-left: 30px;
}
#app-layout-root .sec-0 .sec-0-wrapper-inner0-2 .factBox-inner {
       width: 100%;
}
#app-layout-root .sec-3 .article-sec h3 {
    font-size: 12px;
}
#app-layout-root .sec-3 .article-sec img {
    max-width: 50px;
}
#app-layout-root .sec-1-wrapper-inner3 .sec-1-wrapper-inner3-wrapper-inner-0 .row {
    background-color: #fff;
    padding: 20px 10px;
}
#app-layout-root .sub-title h3 {
    font-size: 27px;
}
.btn-group-lg>.btn, .btn-lg {
    padding:7px 10px; 
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.btn-group .btn {
	width:100%;
	margin-bottom:10px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-top-left-radius:0;
    border-bottom-left-radius:0;
}
#app-layout-root .sec-4 .team-info-grid h4 {
    text-align: center;
}
#app-layout-root .sec-4 .team-info-grid h6 {
    text-align: center;
}
#app-layout-root .team-info-grid .article-team-info .avatar-core-0 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-core-1 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-core-2 {
     float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-core-3 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-core-4 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-core-5 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-core-6 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-core-7 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-core-8 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-core-9 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-dev-0 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-dev-1 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-dev-2 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-dev-3 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-dev-4 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-dev-5 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .team-info-grid .article-team-info .avatar-dev-6 {
    float: none;
    margin: 0 auto;
}
#app-layout-root .sec-0 .sec-0-wrapper-inner-1 {
    padding:10px 0;
}
#app-layout-root .sec-1 {
     padding:10px 0;
}
#app-layout-root .sec-1-wrapper-inner1 {
    padding:10px 0;
}
#app-layout-root .sec-1-wrapper-inner2 {
     padding:10px 0;
}
#app-layout-root .sec-1-wrapper-inner3 {
     padding:10px 0;
}
}
@media(max-width:360px) {
.row {
    padding-right:0px;
    padding-left:0px;
}
}