/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #0a0b0b;
    background: #fff;
    overflow-x: hidden;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
a {
    color: #0e7ba8;
    text-decoration: none;
}
a:hover {
    color: #060606;
    text-decoration: none;
}
/*HOME*/

.home-header {
    background: #061540;
    color: #fff;
}
.home-header .logo {
    position: relative;
    z-index: 123;
}
.home-header .logo img {
    position: absolute;
}
.home-header .header-padding {
    padding: 20px 0px;
}
.home-header .worlds-first-crypto {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #edeeee;
    font-weight: 700;
    text-transform: uppercase;
    margin: 7px 0px;
}
.home-header .header-button {
    text-align: right;
}
.header-button .btn-login {
    background: #ff9f2f;
    color: #fff;
    font-size: 15px;
    padding: 7px 20px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 2px;
    border: solid 2px #ff9f2f;
    margin-right: 20px;
}
.header-button .btn-login:hover,
.header-button .btn-login:focus,
.header-button .btn-login:active {
    background: #c6771a;
    color: #fff;
    border: solid 2px #c6771a;
}
.header-button .btn-sign-up {
    background: none;
    color: #fff;
    font-size: 15px;
    padding: 7px 20px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 2px;
    border: solid 2px #fff;
}
.header-button .btn-sign-up:hover,
.header-button .btn-sign-up:focus,
.header-button .btn-sign-up:active {
    background: #2374d1;
    color: #fff;
    border: solid 2px #2374d1;
}
.carousel-caption {
    right: 10%;
    left: 10%;
    padding-bottom: 0px;
    top: 41%;
}
.carousel-caption h1 {
    font-size: 77px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .7);
    margin-bottom: 40px;
}
.carousel-caption .btn-slider {
    background: #ff9f2f;
    color: #fff;
    font-size: 34px;
    padding: 7px 30px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 900;
    letter-spacing: 3px;
}
.carousel-caption .btn-slider:hover,
.carousel-caption .btn-slider:focus,
.carousel-caption .btn-slider:active {
    background: #c6771a;
    color: #fff;
}
.carousel-indicators li {
    width: 17px;
    height: 17px;
    border: 3px solid #fff;
    background-color: #fff;
    margin: 0 10px;
}
.carousel-indicators .active {
    width: 17px;
    height: 17px;
    margin: 0 10px;
    background-color: #ff9f2f;
}
.slider-1 {
    background: url("../images/slider/slider-1-kasper-v4.jpg");
    background-position: center top;
    background-size: cover;
}
.slider-2 {
    background: url("../images/slider/slider-1-kasper-v4.jpg");
    background-position: center top;
    background-size: cover;
}
.slider-3 {
    background: url("../images/slider/slider-1-kasper-v4.jpg");
    background-position: center top;
    background-size: cover;
}
.slider-4 {
    background: url("../images/slider/slider-1-kasper-v4.jpg");
    background-position: center top;
    background-size: cover;
}
.step-4 {
    background: url(../images/step-4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px 0px;
    text-align: center;
}
.step-4 h2 {
    font-size: 50px;
    color: #061540;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.step-4 .btn-free-nlc {
    background: #ff9f2f;
    color: #fff;
    font-size: 22px;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 1px;
}
.step-4 .btn-free-nlc:hover,
.step-4 .btn-free-nlc:focus,
.step-4 .btn-free-nlc:active {
    background: #c6771a;
    color: #fff;
}
.step-4 .sign-up-1 {
    background: url(../images/sign-up-bg.jpg) no-repeat center top;
    height: 300px;
    border-radius: 20px;
    margin-top: 100px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.step-4 .pick {
    background: url(../images/pick-bg.jpg) no-repeat center top;
    height: 300px;
    border-radius: 20px;
    margin-top: 100px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.step-4 .draft {
    background: url(../images/draft-bg.jpg) no-repeat center top;
    height: 300px;
    border-radius: 20px;
    margin-top: 100px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.step-4 .win {
    background: url(../images/win-bg.jpg) no-repeat center top;
    height: 300px;
    border-radius: 20px;
    margin-top: 100px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.step-4 span {
    background: #ff9f2f;
    position: relative;
    top: -35px;
    width: 68px;
    height: 68px;
    display: inline-block;
    font-size: 40px;
    border-radius: 40px;
    font-weight: 900;
    color: #fff;
    line-height: 1.7;
}
.step-4 .sign-up-1 .blue-bar,
.step-4 .win .blue-bar {
    background-color: rgba(6, 21, 64, 0.8);
    height: 94px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 35px;
    padding-top: 25px;
}
.step-4 .sign-up-1:hover .blue-bar,
.step-4 .win:hover .blue-bar {
    background-color: rgba(255, 159, 47, 1);
}
.step-4 .pick .blue-bar-twoline,
.step-4 .draft .blue-bar-twoline {
    background-color: rgba(6, 21, 64, 0.8);
    height: 94px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 35px;
    padding-top: 15px;
    line-height: 32px;
}
.step-4 .pick:hover .blue-bar-twoline,
.step-4 .draft:hover .blue-bar-twoline {
    background-color: rgba(255, 159, 47, 1);
}
.blockchain {
    background: #061540 url(../images/trofy-bg.jpg) no-repeat right bottom;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}
.blockchain .overly {
    padding: 160px 0px;
}
.blockchain h3 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}
.variety-sports h4 {
    font-size: 40px;
    color: #0d3663;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 60px 15px;
}
.variety-sports .sports {
    width: 14.28%;
    float: left;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    position: relative;
}
.variety-sports .sports img {
    width: 100%;
}
.variety-sports .sports img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.variety-sports .sports span {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    bottom: 60px;
    right: -20px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    left: 100px;
}
.how-it-works {
    padding: 100px 0;
    color: #061540;
    font-size: 18px;
}
.how-it-works h5 {
    font-size: 40px;
    color: #061540;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0px;
}
.learn-more {
    background: url(../images/learn-more-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.learn-more img {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}
.learn-more .flex {
    display: flex;
    display: -webkit-flex;
}
.learn-more .learn-more-area {
    padding: 40px 0px;
}
.learn-more-area h6 {
    font-size: 40px;
    color: #061540;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0px;
    padding-top: 40px;
}
.panel {
    margin-bottom: 20px;
    background: none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
    font-size: 18px;
    color: #0d3663;
    font-weight: 600;
    margin-left: 60px;
    padding: 0;
    line-height: 28px;
    letter-spacing: 1px;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: none;
}
.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background: none;
    border-color: none;
}
.panel-title > a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 22px;
    color: #0d3663;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}
.more-less {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    background: #0d3663;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-left: 2px;
}
.more-less:hover {
	background: #2374d1;
}

.hight {
    height: 75px;
}
.footer {
    background: #061540;
    padding: 20px 0px;
    font-size: 13px;
    color: #fff;
}
.footer .button {
    text-align: right;
}
.footer .btn-footer {
    background: none;
    color: #fff;
    font-size: 10px;
    width: 140px;
    height: 30px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    border: solid 2px #fff;
    margin: 5px 2px;
}
.footer .btn-footer:hover,
.footer .btn-footer:focus,
.footer .btn-footer:active {
    background: #2374d1;
    color: #fff;
    border: solid 2px #2374d1;
}
.copyright {
    background: #0f254f;
    padding: 20px 0px;
    color: #fff;
    font-size: 13px;
}
.copyright p {
    padding-top: 10px;
}
.social {
    text-align: right;
}
.social img {
    margin: 0px 5px;
}
.social img {
     margin:0px 5px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;	
}
.social img:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.basketball {
	background:	url("../images/basketball.jpg");
}
.hockey {
	background: url("../images/hockey.jpg")
}
.cricket {
	background: url("../images/cricket2.jpg")
}
.mma {
	background: url("../images/mma.jpg")
}
.baseball {
	background: url("../images/baseball.jpg")
}
.soccer {
	background: url("../images/soccer.jpg")
}
.football {
	background: url("../images/football.jpg")
}
.sports {
	background-size: cover;
	height: 450px;
}
.sports:hover{
	opacity: 0.7;
}
.how-it-works h5 {
	color: #0d3663;
}
.how-it-works p {
	color: #0d3663;
}

@media (max-width: 1700px) {
.carousel-caption h1 {
	margin-bottom: 26px;
	font-size: 60px;
}
.carousel-caption .btn-slider {
	font-size: 26px;
}
}
@media (min-width: 1440px) {
.carousel-caption h1 {
	margin-bottom: 26px;
}
.container {
	width: 1400px;
}
.variety-sports .sports span {
	bottom: 85px;
}
.item {
	height: 650px;
}
}
@media (max-width: 1440px) {
.item {
	height: 500px;
	margin: 0 auto;
	width: 100%;
}
.carousel-caption {
	right: 10%;
	left: 10%;
	padding-bottom: 0px;
	top: 37%;
}
.carousel-caption h1 {
	font-size: 59px;
	margin-bottom: 12px;
}
.carousel-caption .btn-slider {
	font-size: 23px;
}
.step-4 .sign-up-1,
.step-4 .pick,
.step-4 .draft,
.step-4 .win {
	height: 260px;
}
.step-4 span {
	top: -25px;
	width: 50px;
	height: 50px;
	font-size: 30px;
	border-radius: 40px;
}
.step-4 .sign-up-1 .blue-bar,
.step-4 .win .blue-bar {
	height: 70px;
	font-size: 24px;
	margin-top: 60px;
	padding-top: 17px;
}
.step-4 .pick .blue-bar-twoline,
.step-4 .draft .blue-bar-twoline {
	height: 70px;
	font-size: 24px;
	margin-top: 60px;
	padding-top: 8px;
	line-height: 28px;
}
.how-it-works h5 {
	padding-top: 20px;
}
.panel-title > a {
	font-size: 18px;
	letter-spacing: 1px;
}
.panel-title > a:hover {
	color:#2374d1;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	font-size: 16px;
	line-height: 24px;
	margin-left: 45px;
}
.more-less {
	margin-right: 10px;
	font-size: 16px;
	width: 30px;
	height: 30px;
	padding-top: 7px;
	padding-left: 2px;
}
.footer .btn-footer {
	font-size: 8px;
	width: 120px;
	height: 28px;
	margin: 5px 2px;
}
}
@media (max-width: 1200px) {
.home-header .worlds-first-crypto {
	font-size: 18px;
}
.home-header .header-padding {
	padding: 23px 0px;
}
.carousel-caption h1 {
	font-size: 52px;
	margin-bottom: 20px;
}
.carousel-caption .btn-slider {
	font-size: 18px;
}
.blockchain .overly {
	background-color: rgba(6, 21, 64, 0.5);
}
.variety-sports .sports span {
	left: 70px;
}
.how-it-works h5 {
	font-size: 36px;
	padding-top: 0px;
}
.panel-title > a {
	font-size: 16px;
	letter-spacing: 1px;
}
.footer {
	font-size: 11px;
}
.footer .btn-footer {
	font-size: 7px;
	width: 100px;
	height: 24px;
}
}
@media (max-width: 1024px) {
.carousel-caption {
	top: 30%;
}
.blockchain {
	text-align: center;
	background: url(../images/trofy-bg.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.blockchain .overly {
	padding: 140px 0px;
}
.step-4 .sign-up-1,
.step-4 .pick,
.step-4 .draft,
.step-4 .win {
	height: 212px;
}
.step-4 .sign-up-1 .blue-bar,
.step-4 .win .blue-bar {
	margin-top: 40px;
}
.step-4 .pick .blue-bar-twoline,
.step-4 .draft .blue-bar-twoline {
	margin-top: 40px;
}
}
@media (max-width: 992px) {
.carousel-caption {
	left: 8%;
	right: 8%;
}
.item {
	height: 375px;
}
.home-header .worlds-first-crypto {
	font-size: 14px;
}
.home-header .header-padding {
	padding: 17px 0px;
}
.header-button .btn-login,
.header-button .btn-sign-up {
	font-size: 14px;
	padding: 7px 15px;
	letter-spacing: 1px;
}
.carousel-caption h1 {
	font-size: 40px;
	margin-bottom: 20px;
}
.carousel-caption .btn-slider {
	font-size: 15px;
}
.step-4 .sign-up-1,
.step-4 .pick,
.step-4 .draft,
.step-4 .win {
	height: 210px;
}
.step-4 span {
	top: -30px;
	width: 60px;
	height: 60px;
	font-size: 36px;
}
.step-4 .sign-up-1 .blue-bar,
.step-4 .win .blue-bar {
	margin-top: 10px;
}
.step-4 .pick .blue-bar-twoline,
.step-4 .draft .blue-bar-twoline {
	margin-top: 10px;
}
.variety-sports .sports span {
	bottom: 40px;
	left: 50px;
}
.how-it-works {
	text-align: center;
}
.learn-more .flex {
	display: inline;
}
.learn-more img {
	margin: 0 auto;
	position: inherit;
	bottom: 0;
}
.footer {
	text-align: center;
}
.footer img {
	padding-bottom: 10px;
}
.footer .button {
	text-align: center;
	padding-top: 10px;
}
.footer .btn-footer {
	font-size: 11px;
	width: 150px;
	height: 30px;
}
.copyright {
	text-align: center;
}
.social {
	text-align: center;
}

.sports {
	background-position: center;
}
}
@media (max-width: 768px) {
.home-header .logo img {
	width: 90px;
}
.carousel-caption {
	top: 42%;
}
.carousel-caption h1 {
	font-size: 35px;
	margin-bottom: 10px;
}
.carousel-caption .btn-slider {
	font-size: 23px;
	padding: 5px 15px;
}
.carousel-indicators li {
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	margin: 0 3px;
}
.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0 3px;
}
.step-4 h2 {
	font-size: 30px;
}
.blockchain .overly {
	padding: 100px 0px;
}
.blockchain h3 {
	font-size: 30px;
}
.home-header .header-padding {
	padding: 17px 0px;
}
.header-button .btn-login,
.header-button .btn-sign-up {
	font-size: 14px;
	padding: 5px 12px;
	letter-spacing: 1px;
}
.variety-sports h4 {
	font-size: 24px;
}
.how-it-works h5 {
	font-size: 26px;
	padding-top: 0px;
}
.learn-more-area h6 {
	font-size: 26px;
}
.hight {
	height: 40px;
	float: left;
}
.step-4 .sign-up-1,
.step-4 .pick,
.step-4 .draft,
.step-4 .win {
	height: 345px;
}
.step-4 .sign-up-1 .blue-bar,
.step-4 .win .blue-bar,
.step-4 .pick .blue-bar-twoline,
.step-4 .draft .blue-bar-twoline {
	margin-top: 100px;
}
.panel-title > a .line-height {
	line-height: 30px;
}
.variety-sports .sports-big {
	width: 33.33%;
	height: 300px;
	background-size: cover;
}
.variety-sports .sports-small {
	width: 25%;
	height: 265px;
	background-size: cover;
}
.variety-sports .sports-small span {
	bottom: 60px;
	font-size:18px;
    left: 100px;
}
.variety-sports .sports-big span {
	bottom:80px;
	font-size:18px;
    left: 145px;
}
}
@media (max-width: 662px) {
.step-4 {
	padding: 35px 0;
}
.item {
	height: 275px;
}
.carousel-caption h1 {
	font-size: 24px;
}
.carousel-caption .btn-slider {
	font-size: 16px;
}
.step-4 .sign-up-1,
.step-4 .pick,
.step-4 .draft,
.step-4 .win {
	height: 220px;
}
.step-4 .sign-up-1 .blue-bar,
.step-4 .win .blue-bar,
.step-4 .pick .blue-bar-twoline,
.step-4 .draft .blue-bar-twoline {
	margin-top:40px;
}
}
@media (max-width: 480px) {
.home-header .header-padding {
	padding: 10px 0px;
}
.home-header .logo img {
	width: 60px;
}
.header-button .btn-login,
.header-button .btn-sign-up {
	font-size: 10px;
	padding: 3px 8px;
}
.carousel-caption {
	top: 28%;
	left: 3%;
	right: 3%;
}
.carousel-caption h1 {
	font-size: 19px;
	margin-bottom: 5px;
}
.carousel-caption .btn-slider {
	font-size: 14px;
}
.carousel-indicators {
	bottom: 0px;
}
.item {
	height: 190px;
}
.step-4 .btn-free-nlc {
	font-size: 18px;
	padding: 5px 15px;
}
.step-4 .sign-up-1,
.step-4 .pick,
.step-4 .draft,
.step-4 .win {
	height: 150px;
	margin-top: 50px;
}
.step-4 span {
	top: -23px;
	width: 46px;
	height: 46px;
	font-size: 28px;
}
.step-4 .sign-up-1 .blue-bar,
.step-4 .win .blue-bar {
	height: 55px;
	font-size: 20px;
	margin-top: 10px;
	padding-top: 10px;
}
.step-4 .pick .blue-bar-twoline,
.step-4 .draft .blue-bar-twoline {
	height: 55px;
	font-size: 20px;
	margin-top: 10px;
	padding-top: 7px;
	line-height: 20px;
}
.variety-sports .sports-small span {
	bottom:35px;
	left: 48px;
}
.variety-sports .sports-big span {
	bottom:38px;
	left: 77px;
}
.footer .btn-footer {
	font-size: 9px;
	width: 125px;
	height: 28px;
}
}
@media (max-width: 360px) {
.home-header .header-padding {
	padding: 10px 0px;
}
.carousel-caption h1 {
	font-size: 15px;
	margin-bottom: 5px;
}
.carousel-caption .btn-slider {
	font-size: 10px;
}
.step-4 .btn-free-nlc {
	font-size: 16px;
	padding: 5px 12px;
}
.step-4 .sign-up-1,
.step-4 .pick,
.step-4 .draft,
.step-4 .win {
	height: 130px;
	margin-top: 50px;
}
.step-4 .sign-up-1 .blue-bar,
.step-4 .win .blue-bar {
	height: 35px;
	font-size: 14px;
	margin-top: 0px;
	padding-top: 6px;
}
.step-4 .pick .blue-bar-twoline,
.step-4 .draft .blue-bar-twoline {
	height: 35px;
	font-size: 14px;
	margin-top: 0px;
	padding-top: 4px;
	line-height: 14px;
}
.footer .btn-footer {
	font-size: 7px;
	width: 110px;
	height: 24px;
}
}
@media (max-width: 320px) {
.home-header .header-padding {
	padding: 5px 0px;
}
.carousel-caption {
	top: 32%;
}
.step-4 .sign-up-1,
.step-4 .pick,
.step-4 .draft,
.step-4 .win {
	height: 110px;
	margin-top: 50px;
}
.variety-sports .sports-small span  {
    bottom: 30px;
    left: 30px;
}
.variety-sports .sports-big span {
    bottom: 36px;
    left: 48px;
}
}