<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
    <system.webServer>
        <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
<staticContent>
   <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="15.00:00:00" />
</staticContent>
  </system.webServer>
  
  <appSettings>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="EnableSSL" value="True"/>
    
    <add key="SMTPUserName" value="support@cryptofantasysports.com"/>
    <add key="SMTPUserPassword" value="abcd123#"/>
    <add key="MailTo" value="support@nolimitcoin.org"/>
    <add key="MailFrom" value="support@nolimitcoin.org"/>
	
  </appSettings>
  
</configuration>


